@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(http://themes.googleusercontent.com/static/fonts/anton/v4/5t8vP9Hx2udzw372glmOxA.ttf) format('truetype');
}
