/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1200px) {

  .col-sm-3 {
    width: 23%;
  }
  .col-sm-4 {
    width: 31%;
  }
  .col-sm-6 {
    width: 47.1%;
  }
  .col-sm-12 {
    width: 95%;
  }

  .games h2, .bets .table th {
    font-size: 18px;
  }

  .games p {
    font-size: 12px;
  }
  
  .game {
    min-height: 130px;
  }

  .bets .table td {
    font-size: 16px;
  } 

  .bets .table td, th {
    height: 48px;
  }

}

@media (max-width: 1000px) {

  .col-sm-4 {
    width: 31.2%;
  }
  .col-sm-6 {
    width: 47.5%;
  }
  .col-sm-12 {
    width: 96.1%;
  }

  .games h2, .bets .table th {
    font-size: 14px;
  }

  .games p {
    font-size: 10px;
  }

  .game {
    min-height: 140px;
  }

  .bets .table td {
    font-size: 12px;
  } 

  .bets .table td, th {
    height: 32px;
  }

  .game {
    min-height: 152px;
  }

}

@media (max-width: 768px) {
  .col-sm-3 {
    width: 22.7%;
  }
  .col-sm-4 {
    width: 31.1%;
  }
  .col-sm-12 {
    width: 96%;
  }
  
  .bets, #livefyre-comments {
    width: 96.1%;
  }
  .fyre .fyre-comment-footer a {
    padding: 0;
  }
  
}

@media (max-width: 568px) {
  .col-sm-3 {
    width: 22.7%;
  }
  .col-sm-4 {
    width: 30.8%;
  }
  
  .scoresText {
    display: inline;
  }
  .scores {
    display: none;
  }
  .time {
    display: none;
  }

  .games h2, .bets .table th {
    font-size: 12px;
  }
  .scoresText h3 {
    font-size: 18px;
  }

  .game {
    min-height: 108px;
  }
}

@media (max-width: 480px) {
  .col-sm-3 {
    width: 22.1%;
  }
  .col-sm-4 {
    width: 30.0%;
  }
}

@media (max-width: 320px) {

}
