/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
header {
  padding-bottom: 20px;
}


/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
footer {
  padding-left: 50px;
  padding-right: 50px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

ul.navbar-nav a.button-href-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* GAMES CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.games {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.game {
  text-align: center;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  border: 2px solid;
  border-radius: 5px;
}

.games h2 {
  font-weight: normal;
  font-size: 25px;
}

.col-lg-3 {
  margin-left: 5px;
  margin-right: 5px;
  width: 24%;
}
.col-lg-4 {
  margin-left: 5px;
  margin-right: 5px;
  width: 31.6%;
}
.col-lg-6 {
  margin-left: 5px;
  margin-right: 5px;
  width: 49%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .games {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
