div(id="flip" class='games')
  ul.flip.minutePlay
    - for (var i = 0; i < 10; ++i) {
      li(class= i === )
        a(href='#')
          .up
            .shadow
            .inn 
              =i
          .down
            .shadow
            .inn 
              =i
    - }
