extends layout

block content

  div(class="main container" ng-controller='AppCtrl')

    div(class="alert {{mainAlert.alertType}}" ng-show='mainAlert.isShown' ng-cloak)
      button.close(type='button', ng-click='closeAlert()', aria-hidden='true') ×
      | {{mainAlert.message}}


    //- Games scores.
    div(class='row games' ng-controller='GamesCtrl' ng-cloak)
      div(class='game col-xs-6 col-sm-{{12/games.length}}' ng-repeat='game in games')
        .teams
          h2 
            | {{game.teams[0]}}
            |  vs 
            | {{game.teams[1]}}
        .time
          p
            | {{game.time | hours }}
            |  h  
            | {{game.time | minutes }}
        .scoresText
          h3
            | {{game.score[0] || 0}}
            |  - 
            | {{game.score[1] || 0}}
        .scores
          div(id="flip" class='games score play')
            ul(class="flip {{(game.teams[0] + game.teams[1] + 0) | removeSpace}}")
              - for (var i = 0; i < 10; ++i) {
                li
                  a(href='#')
                    .up
                      .shadow
                      .inn 
                        =i
                    .down
                      .shadow
                      .inn 
                        =i
              - }
          .dash
            h3
              -
          div(id="flip" class='games score play')
            ul(class="flip {{(game.teams[0] + game.teams[1] + 1) | removeSpace}}")
              - for (var i = 0; i < 10; ++i) {
                li
                  a(href='#')
                    .up
                      .shadow
                      .inn 
                        =i
                    .down
                      .shadow
                      .inn 
                        =i
              - }
        .chart-container
          .chart
            canvas(id="{{ 'pie-' + $index}}" class="chart chart-pie" chart-data="choices[$index]" chart-labels="labels[$index]")


    .row
      div(class='col-sm-12 bets' ng-controller='BetsCtrl' ng-cloak)
        table(class='table table-hover table-curved')
          thead
            tr
              th(colspan=8) Live ranking
          tbody
            tr(ng-repeat='bet in bets')
              td
                | {{bet.ranking === bets[$index-1].ranking ? '-' : bet.ranking}}
              td 
                | {{bet.user}}
              td(class='daybet' ng-repeat='b in bet.bets track by $index')
                | {{b}}
              td(class='betPoints')
                | {{bet.points}}
              td(class='betDiffRanking', ng-class="{ 'up': bet.differenceRanking>0, 'down': bet.differenceRanking<0, 'stable': bet.differenceRanking===0 }")
                | {{bet.differenceRanking > 0 ? '&#x25B2;' : ''}}
                | {{bet.differenceRanking < 0 ? '&#x25BC;' : ''}}
                | {{bet.differenceRanking | removeSign}}


  //- Bootstrap core JavaScript
  //- Placed at the end of the document so the pages load faster
  script(src='base-onefile.js')

  //- Variables passed from expressjs.
  script.
    var games = !{JSON.stringify(games)}
    var bets = !{JSON.stringify(bets)}
    var websocketHost = !{JSON.stringify(websocketHost)}
    var websocketPath = !{JSON.stringify(websocketPath)}
