extends layout

block content

  //- Games scores.
  .container.games
    .row
      each game in games
        div(class="col-lg-" + 12/games.length)
          h2 
            = game.teams[0]
            |  - 
            = game.teams[1]
          p
            = new Date(game.time).getHours()
            |  h  
            - var minutes = new Date(game.time).getMinutes();
            - if (minutes === 0) minutes = '00';
            = minutes
          h3 
            = game.score[0]
            |  - 
            = game.score[1]


  //- Bootstrap core JavaScript
  //- Placed at the end of the document so the pages load faster 
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='bootstrap/js/holder.js')
