doctype html
html(ng-app="russia2018App")
	head(prefix='')
		meta(charset='utf8')
		meta(content= 'text/html; charset=utf-8', http-equiv= 'content-type')
		meta(http-equiv= 'X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="author" content="")
		base(href='russia2018/')
		title #{title}

		link(rel='stylesheet', type="text/css", href='base-onefile.css')

	body
		block header
			include _header
		block content
		block footer
			include _footer
